.DBdisables{
    background: rgba(0, 0, 0,0.5) url(img/DisabledMen.png) center/100% 100% no-repeat padding-box padding-box;
}

.Formctnphrae{
    background: rgba(0, 0, 0,0.5) url(img/Formctnphrae.png) center/100% 100% no-repeat padding-box padding-box;
}

.ESP32_CAM_UI_Beauty{
    background: rgba(0, 0, 0,0.5) url(img/UIESP1.png) center/100% 100% no-repeat padding-box padding-box;
}

.Web_Me{
    background: rgba(0, 0, 0,0.5) url(img/Web_me.png) center/100% 100% no-repeat padding-box padding-box;
}