@media (max-width: 768px) { 
    body{
        grid-template: "header" auto
                       "menu" 190px
                       "navigation" auto
                       "content" 15fr
                       "footer" auto / 100dvh;
        grid-template: "header" auto
                       "menu" 190px
                       "navigation" auto
                       "content" 15fr
                       "footer" auto / 100vh;
        transition: all 500ms ease-in-out;
    }
    nav > ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav > ul div{
        width: 100%;
        
    }
    nav ul li{
        min-width: 100%;
    }
    .lines{
        width: 0;
    }

    aside{
        height: 50px;
        top: 195px;
        width: 100%;
        padding: 0;
        flex-wrap: nowrap;
    }

    .show{
        width: 100%;
    }

    .content1 > h4 > p{
        font-size: clamp(0.2rem ,calc(1rem - 1vw), 1.2rem);
    }

    .typing p{
        font-size: 0.9rem;
    }

    .spin{
        width: 130px;
        height: 130px;
    }

    footer .contract_me{
        font-size: 1.6rem;
    }

    .modal-content-achivement{
        height: calc(100% - 80dvh);
        height: calc(100% - 80vh);
    }
}