@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Playwrite+AU+VIC:wght@100..400&display=swap');

/* html{
    scroll-behavior: smooth;
    scroll-padding: 50px;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-radius: 4px;
    --padding-content: 10px;
    --padding-header: 13px;
    --margin-header: 3px;
    --padding-menu: 1rem;
}

body{
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: grid;
    background: url("img/BG2.jpg") center/cover no-repeat fixed;
    grid-gap: 5px;
    position: relative;
    /* height: 100%; */
    padding: var(--padding-content);
    grid-template: "header header" auto
                   "menu menu" 50px
                   "navigation content" 15fr
                   "navigation footer" auto
                   / auto 4fr;
}

header{
    color: #000;
    background: #EEEEEE0D;
    border-radius: var(--border-radius);
    border: 1px solid #eeeeee80;
    backdrop-filter: blur(6px);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-header);
}

#logo_cat{
    width: max(25% ,20em);
    object-fit: contain;
}

#logo_me{
    width: max(15% ,15em);
    object-fit: contain;
}

nav{
    position: sticky;
    top: 0;
    background: #FDFAF60D;
    border: 1px solid #eeeeee80;
    border-radius: var(--border-radius);
    backdrop-filter: blur(6px);
    grid-area: menu;
    z-index: 11;
}

nav > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100%;
    /* padding: 5px; */
}

nav ul li ul{
    position: absolute;
    background-color: #2C2C2C;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)
    ,-4px 0px 10px 2px #2C2C2C;
    display: none;
    top: 46px;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    margin: var(--margin-header) auto;
    width: inherit;
    z-index: 10;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
nav ul li ul li{
    padding: var(--padding-menu);
}
nav ul li ul li:hover{
    border-bottom: 2px solid #ECDFCC;
}
nav ul div:hover li ul{
    display: block;
}

nav ul li{
    text-align: center;
    border-radius:var(--border-radius) var(--border-radius) 0 0;
    height: 100%;
    align-content: center;
    min-width: clamp(15rem,calc(8vw - 1rem),20rem);
    transition: all .3s ease-in-out;
}
nav ul div:not(.lines){
    height: calc(100% - 2px);
    position: relative;
    cursor: pointer;
}

nav ul div li:hover{
    background: #181C14;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)
    ,-4px -3px 10px 2px #181C14;
    z-index: 1;
}
nav ul div li:hover ~ .lines{
    width: 100%;
}
.lines{
    background-color: #ECDFCC;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)
    ,0px -3px 10px #ECDFCC;
    width: 0;
    z-index: 2;
    height: 2px;
    transition: all .3s ease-in-out;
}

/* Analysis Deep thing*/
/* nav ul > div:has(.lines) .lines:hover li ul{
    display: block;
}

nav ul > div:has(.lines) .lines:hover li{
    background: #181C14;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)
    ,-4px -3px 10px 2px #181C14;
    z-index: 1;
} */

.put_li{
    background: #181C14;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1)
    ,-4px -3px 10px 2px #181C14;
    z-index: 1;
}

.lines:hover{
    width: 100%;
}

nav ul li > a{
    text-decoration: none;
    color: #fff;
}

main{
    position: relative;
    background: #FBFBFB0D;
    border: 1px solid #eeeeee80;
    color: #fff;
    backdrop-filter: blur(6px);
    grid-area: content;
    border-radius: var(--border-radius);
    padding: var(--padding-content) 0px;
}

nav:hover ~ main {
    z-index: -1;
}

aside{
    height: calc(100vh - 66px);
    position: sticky;
    top: 55px;
    background: #FFEDFA0D;
    border: 1px solid #eeeeee80;
    backdrop-filter: blur(6px);
    display: flex;
    align-self: start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: var(--padding-content) 0 0;
    grid-area: navigation;
    width: 50px;
    border-radius: var(--border-radius);
    transition: all 500ms ease-in-out;
    z-index: 11;
}

legend {
    font-size: 1.2rem;
    align-self: center;
    width: calc(100% - 30px - 1em);
    margin-left: 1em;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    transition: all 500ms ease-in-out;
}

aside div{
    color: #fff;
    transition: all 500ms ease-in-out;
}

aside #slice{
   display: flex; 
   padding: var(--padding-content);
}


aside #shortcut{
    /* margin-left: calc(30px + 19.2px + 10px); */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

aside #shortcut div:nth-child(odd):hover{
    background-color: #060930;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5) inset
    ,-12px -12px 12px rgba(0, 0, 0, 0.5) inset;

}
aside #shortcut div:nth-child(even):hover{
    background-color: #070F2B;
    box-shadow: -12px -12px 12px rgba(0, 0, 0, 0.5) inset
    ,12px 12px 12px rgba(0, 0, 0, 0.5) inset;
}

aside #shortcut div:nth-child(odd){
    background: #040D12;
    text-align: center;
    transition: all 300ms ease-in-out;
}

aside #shortcut div:nth-child(even){
    background: #08141a;
    text-align: center;
    transition: all 300ms ease-in-out;
}

aside #shortcut div a{
    display: block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: var(--padding-menu);
}

.shown{
    opacity: 0;
    margin-left: 0;
    width: 0;
}

.nav_menu{
    display: none;
}
/* .shown_for_divmenu{
    
} */

aside .btn_topic{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

aside .btn_topic > span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 1;
    transition: all 500ms ease-in-out;
}

aside .btn_topic > span:nth-child(1){
    top: 10%;

}
aside .btn_topic > span:nth-child(2){
    top: 50%;
    
}
aside .btn_topic > span:nth-child(3){
    top: 90%;
    
}

aside .btn_topic > span.active:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
aside .btn_topic > span.active:nth-child(2){
    transform: translateX(100%);
    opacity: 0;
}
aside .btn_topic > span.active:nth-child(3){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.show{
    width: 250px;
}


footer{
    background: #000000d9;
    border: 1px solid #eeeeee80;
    border-radius: var(--border-radius);
    backdrop-filter: blur(6px);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 200;
    font-style: normal;
    padding: 5em;
}

footer span{
    font-size: smaller;
}

footer div a{
    display: grid;
    place-items: center;
    height: 45px;
    width: 45px;
    padding: 0.2em;
    transition: all 0.3s ease-out;
}

footer div a span{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div a:hover{
    transform: scale(1.1,1.1);
}

footer div a:nth-child(1){
    border-radius: 50%;
}
footer div a:nth-child(2){
    border-radius: 50%;
}
footer div a:nth-child(3){
    border-radius: var(--border-radius);
}
footer div a:nth-child(4){
    border-radius: var(--border-radius);
}
footer div a:nth-child(5){
    border-radius: 50%;
}

footer div a:nth-child(1):hover{
    background: linear-gradient(#4fa1f8, #0156b1);
}
footer div a:nth-child(2):hover{
    background: linear-gradient(#4f4e4e, #1f1e1e);
}
footer div a:nth-child(3):hover{
    background: linear-gradient(#A2B9A7, #2A3335);
}
footer div a:nth-child(4):hover{
    background: linear-gradient(110deg,#69247C, #DA498D,#E73879,#fc0909,#EB5B00,#FFB200);
}
footer div a:nth-child(5):hover{
    background: linear-gradient(#3D90D7,#3A59D1);
}
footer div a:nth-child(6):hover{
    background-image: linear-gradient(200deg,#FE7743,#C95792,#3D365C,#211C84,#3A59D1);
    background-clip: text;
    color: transparent;
}

footer div{
    display: inline-flex;
    gap: 0 5px;
}

footer p:nth-child(5){
    font-size: 55px;
    font-weight: 500;
}

footer .contract_me{
    font-size: 35px;
    font-weight: 300;
    margin: 17px 0;
}

footer button{
    cursor: pointer;
    
}

footer a{
    text-decoration: none;
    color:#ffffff;
}

#telegram{
    position: relative;
    /* animation: drop 1s ease-out; */
    /* animation-timeline: view(); */
    /* animation-range: entry 0% cover 40%; */
}

@keyframes drop {
    0%{
        filter: blur(5px);
        transform: translateY(-100px);
    }
    60%{
        filter: blur(0);
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

